body {
    margin: 0;
    height: 100vh; /* Sets body height to full viewport height */
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    background-color: #f4f4f4; /* Move the background color to body */
}

.auth-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 100%;
    max-width: 600px; /* Limiting the maximum width for larger screens */
}

.header {
    background-color: brown;
    /* Add styles for the header */
}

.auth-content {
    background-color: #fff;
    padding: 40px; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto; /* Remove the vertical margin */
}

.auth-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.auth-btn {
    background-color: #0077b5;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.google-btn {
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.divider {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}
